    *{
        outline: 1px solid #f00;
    }
    
    .slogan{
        margin:50px auto;
        text-align: center; 
        letter-spacing: 0.25rem;
    }

    .slogan span{
        display: inline-block;
        animation: float 3s infinite;
    }

    .slogan span:nth-child(even){
        animation-delay: 0.2s;
    }

    @keyframes float {
        0%   { transform: translateY(0px); }
        50%  { transform: translateY(-10px); }
        100% { transform: translateY(0px); }
        }

    .scroll-container {
            width: 100%;
            overflow: hidden;
        }

    .grid-gallery {
            display: flex;
            width: 200%;
            animation: slide 18s linear infinite;
            gap: 10px;
        }

    .grid {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        width: 50%; 
    }

    .item {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }

    .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-1 {
        grid-row: span 1;
        grid-column: span 1;
    }
    .item-2 {
        grid-row: span 1;
        grid-column: span 2;
    }
    .item-3 {
        grid-row: span 2;
        grid-column: span 2;
    }

    @keyframes slide {
            0% { transform: translateX(0); }
            100% { transform: translateX(-50%); } /* 滑動到第一份 Grid 結束 */
        }

    
    .new-product {
        max-width: 100vw;
        margin: 50px auto;
        background-image: url(../pic/wave.png);
        background-size:cover;
    }

    .nweproduct{
        max-width: var(--total-width);
        width: 100%;
        margin: auto;
        padding-left: 50px;
    }

    .new-items{
        margin: 50px 0 ;
    }

    .product-card {
        position: relative;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .product-pic {
        border-radius: 150px 150px 0 0;
        border: 5px solid #FFB661;
        overflow: hidden;
        aspect-ratio: 2 / 3;
        margin:0 10px;
    }

    .product-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
    }

    .product-balloon{
        pointer-events: none;
        transform: translateY(20px);
        transition: 0.3s ease;
        position: absolute;
        top: -20px;
        left: 50%;
        background-color: #EFE8DD;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        padding: 10px;
        text-align: center;
        white-space: nowrap;
        font-size: 16px;
        z-index:2;
    }

    .product-balloon::after{
        content: "";
        position: absolute;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        border: 15px solid transparent;
        border-top-color: #EFE8DD; 
        border-radius: 4px;
    }


    /* 加一點縮放效果（可選） */
    .slick-center img {
        filter: none;
    }

    
    .btn-more-wrap{
        text-align: right;
        margin-right:25px;
        padding-bottom: 50px;
    }

    .new-product .btn-more-wrap{
        max-width: var(--total-width);
        
    }   

    .btn-more {
        display: inline-flex;
        align-items: center;
    }
    .btn-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    .btn-icon svg {
        z-index: 1;
    }

    .btn-icon::after {
        content: "";
        position: absolute;
        ;
        inset: 0;
        background-image: url(../pic/btn_g2.png);
        background-size: cover;
        background-position: center;
        z-index: 0;
        transition: transform 1s ease;
        animation: spin-scale 1.5s linear infinite;
    }

    .btn-more:hover
    .btn-icon,.btn-icon::after { 
        transform: scale(1.2);
    }
        
    @keyframes spin-scale {
        0% {
            transform: rotate(0deg) 
        }
        100% {
            transform: rotate(360deg) ;
        }
    }

    .new-section{
        max-width: var(--total-width);
        width: 100%;
        margin: 50px auto;
    }

    .new-wrap{
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        align-items: center;
    }

    .vertical-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .news-list li{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 15px 0;
        line-height: 2;
        transition: transform 0.3s ease;
    }

    .news-list li::before{
        content: "";
        position: absolute;
        top: 0;
        left: -5px;
        right: 0;
        height: 1px;
        border-top: 2px dotted #8EB376;
        pointer-events: none;
    }

    .news-list li:hover a {
        color: #FFB661;
        font-weight: bold;
        transform: translateX(10px);
    }

    .recommend-section{
        margin: 50px auto;
        
    }

    .recommend-section{
        background-image: url(../pic/yellow-wave.png);
    }


    .section-title{
        text-align: center;
    }
    .recommend-wrap{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0;
    } 

    .recommend-list{
        display: flex;
        flex-direction: column;
        gap: 50px;
        list-style: none;
    }

    .recommend-item a{
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 400px;
        background-color: #FDF7EF;
        border: 5px solid #8EB376;
        border-radius: 100px;
        box-shadow: 0 0 0 5px #fff inset;
        font-weight: bold;
        color: #8EB376;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s;
    }

    .recommend-item a:hover {
        opacity: 1;
        border-color: #FFB661;
        color: #FFB661;
    }

    .recommend-badge{
        font-size: 40px;
    }


    .recommend-pic {
    width: 100px;
    height: 100px;  
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0; 
    }

    .recommend-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .recommend-name {
    width: 150px;
    white-space: nowrap;
    position: relative;
    }

    .recommend-main .product-pic{
        width: 300px;
        border-radius: 150px 150px 0 0;
        border: 5px solid #8EB376;

    }

    .recommend-main .product-pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .about-wrap{
        display:flex;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .notes {
        position: relative;
    }

    .notes img{
        width: 100%;
    }

    .notes-text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%; /* 可視需要調整，避免太寬溢出 */
        line-height: 1.8;
        /* letter-spacing: 1.5px;  */
    }

    .notes p{
        margin: 20px 0;
    }

    .notes-text .highlight-o,
    .notes-text .highlight-g {
    display: block;  /* 讓它變獨立一行 */
    margin: 20px 0;  /* 上下空白 */
    font-size: 22px;
    font-weight: bold;
    }

@media screen and (max-width: 768px) {
    .new-wrap {
        display: block;
    }

    .vertical-text {
        display: block;
        text-align: center;
        margin-bottom: 50px;   
    }

    .news-list{
        max-width: var(--total-width);
        margin: 0 auto;
        padding: 0 20px;
        font-size: 16px;
    }

    .recommend-main .product-pic{
        display: none;
    } 

    .recommend-wrap{
        display: block;
    }

    .recommend-list{
        align-items: center;
    }

    .about-wrap h2{
        display: none;
    }
    
}

@media screen and (max-width: 430px) {
    :root {
        --total-width: 420px;
    }

    .breadcrumb{
                display: none;
    }
}