/* --共同設定-- */
:root {
    --total-width:1200px;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body{
    background-color: #FDF7EF;
    color:#423E37;   
    font-size: 20px;
    font-family: 'Zen Maru Gothic','AR One Sans'; 
    line-height: 1.5;
    letter-spacing: 2px;

}

h1{
    font-size: 3.125rem;
    font-weight: 500;
}


h2{
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 10%;
}

h3{
    font-size: 1.8rem;
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: #423E37;
    text-decoration: none;
    display: block;
}

a:hover{
    color: #FFB661;
}


.highlight-o{
    color: #FFB661;
    font-family: 'Zen Maru Gothic','AR One Sans'; 
}
.highlight-g{
    color: #8EB376 ;
    font-family: 'Zen Maru Gothic','AR One Sans'; 
}

.header{
    z-index: 1000;;
}

.container{
    max-width: var(--total-width);
    margin:50px auto;
}

.breadcrumb{
    margin: 50px auto;
    padding: 8px 20px;
    background-color: #F4E5D0;
    max-width: var(--total-width);
    border-radius: 100px;
    gap: 6px;
    font-size: 16px;
}

.breadcrumb-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.breadcrumb a {
    display: inline-flex;
    align-items: center;
}

.product-card {
    text-align: center;
    transition: 0.3s ease;
    border-radius: 15px;
    }

.product-card:hover .img-wrap {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-4px);
}

.img-wrap{
    width: 100%;
    aspect-ratio:1/1;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 5px; 
}

.product-name,
.product-price{
    margin-bottom: 5px;
}


.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width: 768px) {
    :root {
        --total-width: 748px;
    }

    body{
        font-size: 16px;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 20px;
    }
    
    p{
        font-size: 16px;
    }

}

@media screen and (max-width: 430px) {
    :root {
        --total-width: 420px;
    }

    .breadcrumb{
                display: none;
    }
}
